#game-canvas { 
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  display: block;
  background-image: url("../images/bg/mountain.png");
}

.canvas-container {
  // background-image: url("https://gfycat.com/flawlessmedicalamphiuma");
  z-index: 2;
}

body {
  margin: 0;
}